!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %title Is he alive?
  %body
    %ul.projects
    - @projects.each do |project|
      %li
        %div.projeto
          %span=project
          %div.eletro
            