!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %title Is he alive?
    %script{:src => "/javascript/lib/jquery-1.4.3.min.js"}
    %script{:src => "/javascript/views/index.js"}
    %link{:href => "/stylesheets/index.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body
    - @projects.each do |project|
      %div.projects
        %span= project
